*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background:black;
    color:white;
    overflow:hidden;
    font-family:Arial, Helvetica, sans-serif;
}

/* INTRO */

#intro{
    position:fixed;
    inset:0;
    background:black;

    display:flex;
    justify-content:center;
    align-items:center;

    z-index:100;
    transition:1s;
}

#message{
    color:white;
    font-size:5rem;
    letter-spacing:10px;
    text-align:center;
    opacity:0;
}

@keyframes fade{
    0%{ opacity:0; }
    20%{ opacity:1; }
    80%{ opacity:1; }
    100%{ opacity:0; }
}

/* HERO */

#hero{
    display:none;
    width:100vw;
    height:100vh;
    position:relative;
    overflow:hidden;
    background:black;
}

#hero img{
    width:100%;
    height:100%;
    object-fit:cover;
    opacity:0;
    transform:scale(1.1);
    animation:heroReveal 2s ease forwards;
}

@keyframes heroReveal{
    from{
        opacity:0;
        transform:scale(1.1);
    }

    to{
        opacity:1;
        transform:scale(1);
    }
}

/* ENTER */

#enterButton{
    position:absolute;
    bottom:60px;
    left:50%;
    transform:translateX(-50%);

    background:#ae1e2c;
    color:white;
    border:none;
    border-radius:4px;

    padding:18px 55px;

    font-size:14px;
    font-weight:700;
    letter-spacing:8px;

    cursor:pointer;
    z-index:30;

    opacity:0;
    animation:enterFade 1s ease forwards;
    animation-delay:2s;

    transition:.3s;
}

#enterButton:hover{
    transform:translateX(-50%) scale(1.05);
    box-shadow:0 0 25px rgba(174,30,44,.6);
}

@keyframes enterFade{
    from{
        opacity:0;
        transform:translateX(-50%) translateY(20px);
    }

    to{
        opacity:1;
        transform:translateX(-50%) translateY(0);
    }
}

/* LINKS */

#links{
    display:none;

    width:100vw;
    height:100vh;

    background:black;
    color:white;

    flex-direction:column;
    justify-content:center;
    align-items:center;
}

#links h1{

    font-size:4rem;

    letter-spacing:12px;

    margin-bottom:10px;

    text-shadow:
    0 0 15px rgba(255,255,255,.15);
}

.tagline{

    color:#ae1e2c;

    letter-spacing:6px;

    font-size:.8rem;

    margin-bottom:40px;

    text-align:center;

    width:100%;
}

#links a{
    display:flex;
    align-items:center;
    gap:20px;

    width:420px;

    color:white;
    text-decoration:none;

    font-size:1.3rem;

    padding:20px 0;

    border-bottom:1px solid rgba(255,255,255,.15);

    transition:.3s ease;
}

#links img{

    width:42px;

    height:42px;

    object-fit:contain;

    justify-self:center;
}

#links a:hover{

    color:#ae1e2c;

    transform:
    translateX(10px)
    scale(1.02);
}

/* MOBILE */

@media(max-width:768px){
    #message{
        font-size:2rem;
        padding:20px;
        letter-spacing:4px;
    }

    #links h1{
        font-size:2.5rem;
    }

    #links a{
        width:280px;
        font-size:1rem;
    }

    #links img{
        width:32px;
        height:32px;
    }

    .section-title{
        width:280px;
        text-align:center;
　　}
}

.noise{
    position:fixed;
    inset:0;
    pointer-events:none;
    z-index:999;
    opacity:.08;
    background-image:url("./images/noise.png");
    background-size:cover;
    mix-blend-mode:screen;
}

.section-title{
    width:420px;

    margin-top:40px;
    margin-bottom:10px;

    color:#ae1e2c;

    font-size:0.8rem;
    letter-spacing:6px;

    text-transform:uppercase;

    text-align:center;
}
